<table>
    <tr>
        <td> <h1> Ana Fernanda Chacón Lomelí </h1> Estudiante de Ingeniería en Tecnologías Computacionales<br>Tecnológico de Monterrey</td>
        <td style="vertical-align: middle;">Meta en la vida: encontrar una manera de ayudar a personas de grupos vulnerables ofreciendo soluciones tecnológicas con el conocimiento especializado que he adquirido al desenvolverme como profesionista.</td>
        <td style="vertical-align:middle; padding: 20px;"><img src="../assets/A00830052_1.jpg" width="120" height="170"></td>
        <td>
            <ul>
                <li>anafer2727@gmail.com</li>
                <li>686 350 4899</li>
                <li>Monterrey, Nuevo León</li>
                <li>@anafercl</li>
            </ul>
        </td>
    </tr>
</table>