<h3>Proyectos</h3>
<ul *ngFor="let project of projectsExperience" class="component">
    <hr>
    <li style="display: table">
        <tr>
            <td>{{ project.fecha }}</td>
            <td style="text-align:right">{{ project.ubicacion }}</td>
        </tr>
        <tr>
            <td><b>{{ project.nombre }}</b></td>
        </tr>
        <tr>
            <td>{{ project.empresa }}</td>
        </tr>

        <h4>Logros:</h4>
        <ul *ngFor="let logro of project.logros">
            <li style="min-width: 500px;">
                <tr>
                    {{ logro.descripcion }}
                </tr>
            </li>
        </ul>
        
    </li>
</ul>
