<table border="1">
  <tr>
    <td colspan="2">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td style="padding-right: 30px; padding-bottom: 30px;">
      <app-projects></app-projects>
    </td>
    <td style="padding-left: 30px; padding-bottom: 30px;">
      <app-work-experience></app-work-experience>
      <h3 style="margin-top: 60px;">Habilidades</h3>
      C++ | Python | HTML/CSS/JavaScript | MIT App Inventor | Racket | Arduino | R | Matlab | Java | Swift
      <hr>
      Estructuras de datos y algoritmos | Programación orientada a objetos | Desarrollo web | Desarrollo móvil iOS | 
      VS Code | Github | Unity | Firebase | Bootstrap | React | Angular | Node.js | Metodología SCRUM | Documentos SRS
    </td>
  </tr>
  <tr>
    <td style="padding-right: 30px; padding-bottom: 30px;">
      <app-certificates></app-certificates>
    </td>
    <td style="padding-left: 30px; padding-bottom: 30px;">
      <app-education></app-education>
      <h3 style="margin-top: 60px;">Lenguajes</h3>
      <ul>
        <li style="margin-bottom: 7px">Inglés (fluido)</li>
        <li style="margin-bottom: 7px">Español (natal)</li>
        <li>Francés (A2)</li>
      </ul>
    </td>
  </tr>
</table>