<h3>Experiencia laboral</h3>
<ul *ngFor="let work of workExperience" class="component">
    <hr>
    <li style="display: table">
        <tr>
            <td>{{ work.fecha }}</td>
            <td style="text-align:right">{{ work.ubicacion }}</td>
        </tr>
        <tr>
            <td><b>{{ work.puesto }}</b></td>
        </tr>
        <tr>
            <td>{{ work.empresa }}</td>
        </tr>

        <h4>Logros:</h4>
        <ul *ngFor="let logro of work.logros" style="width: 70%;">
            <li style="min-width: 500px;">
                <tr>
                    {{ logro.descripcion }}
                </tr>
            </li>
        </ul>
        
    </li>
</ul>
