<h3>Logros y Certificados</h3>
<ul *ngFor="let achievement of certificates" class="component">
    <hr>
    <li style="display: table;">
        <tr>
            <td>{{ achievement.fecha }}</td>
            <td style="text-align:right">{{ achievement.ubicacion }}</td>
        </tr>
        <tr>
            <td><b>{{ achievement.logro }}</b></td>
        </tr>
        <tr>
            <td>{{ achievement.otorga }}</td>
        </tr>

        <h4>Descripción:</h4>

        <tr>
            {{ achievement.descripcion }}
        </tr>

        
    </li>
</ul>
